NODE_ENV=development
PORT=3001
NAME_APP=GoLightly03WorkerNode
PATH_TO_LOGS=./logs
LOG_MAX_SIZE=5
LOG_MAX_FILES=5
PATH_DATABASE=./data
NAME_DB=database.sqlite
PATH_QUEUER=./var/queuer
PATH_MP3_SOUND_FILES=./var/sound-files
ADMIN_EMAIL=admin@example.com
API_KEY_ELEVEN_LABS=
PATH_USER_ELEVENLABS_CSV_FILES=./var/legacy/elevenlabs-csv
PATH_AUDIO_CSV_FILE=./var/legacy/audio-csv
PATH_SAVED_ELEVENLABS_AUDIO_MP3_OUTPUT=./var/generated/elevenlabs
DEFAULT_ELEVENLABS_VOICE_ID=nPczCjzI2devNBz1zQrb
DEFAULT_ELEVENLABS_SPEED=0.85
