NODE_ENV=development
PORT=3002
NAME_APP=GoLightly04WorkerNode
PATH_TO_LOGS=./logs
LOG_MAX_SIZE=5
LOG_MAX_FILES=5


# Other
PATH_PROJECT_RESOURCES=/home/limited_user/project_resources/golightly04/
API_KEY_ELEVEN_LABS=

# On Starup
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=test
DEFAULT_ELEVENLABS_VOICE_ID=nPczCjzI2devNBz1zQrb
DEFAULT_ELEVENLABS_SPEED=0.85

# Postgres configuration
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=golightly04_dev
PG_USER=golightly04_boot
PG_SCHEMA=public
PG_APP_ROLE=golightly04_app
# PG_POOL_MAX=3